

h1 {
    text-align: center;
    color: brown;
}

div.estatico {
    position: static;
    padding: 15px;
    border: 3px solid greenyellow;
    background-color: lightgray;
}

div.relativo {
    position: relative;
    top: 10px;
    left: 10px;
    padding: 15px;
    border: 3px solid blueviolet;
    background-color: lightgray;
}

div.absoluto {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 80px;
    border: 3px solid cornflowerblue;
    background-color: white;
    z-index: 1;
}