
html {
    height: auto;
    min-height: 100%;
}

/* Tipos de Gradientes */
body {
    /* background: linear-gradient(#f72585, #3a0ca3); */
    /* background: linear-gradient(to right,#f72585, #3a0ca3); */
    /* background: linear-gradient(#24404d, #6dbff1, black); */
    /* background: linear-gradient(to bottom right, #f72585, #3a0ca3); */
    /* background: linear-gradient(145deg, #f72585, #3a0ca3); */
    background: radial-gradient(circle, #0d47a1, #42a5f5); /* Efecto de adentro hacia afuera */
    color: #f1faee;
}


h1 {
    text-align: center;
}

div.container {
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid black;
    padding: 20px;
    text-align: center;
}