
h1, div, p {
    border: 3px solid blueviolet;
    text-align: center;
    color: cornflowerblue;
    padding: 10px;
    display: block;
}

h1 {
    /* Oculta por completo el elemento de la pagina */
    display: none;
}

p {
    /* Ocultar un elemento pero conserva el espacio del elemento */
    visibility: hidden;
}

h2 {
    text-align: center;
    color: crimson;
    font-size: 2.5em;
}

h3 {
    font-size: 1.30em;
}

/* La etiqueta SPAN por defult es INLINE */
span {
    /* display: inline (DEFAULT) */
    display: inline;
    border: 1px solid blue;
}

a {
    /* display: inline (DEFAULT) */
    display: block;
    text-decoration: none;
}

li {
    /* display: block (DEFAULT) */
    display: inline;
}